/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Root Style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.button{
    background-color: rgb(241, 41, 57);
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    transition: 1s;
}
.button:hover{
    background-color: rgb(20, 22, 29);
    border: 2px solid rgb(241, 41, 57);
    border-radius: 15px;
    transform: scale(0);
}
.hidden-button{
    display: none;
}
/* Home Section */
.home-container
{
    background-color: rgb(20, 22, 29);
    display: flex;
    flex-direction: row-reverse;
    margin: 25px 80px;
    border-radius: 10px;
}
.banner-title{
    color: white;
    width: 550px;
    font-weight: 700;
    font-size: 50px;
    padding: 20px 40px;
}
.banner-description{
    color: white;
    width: 550px;
    font-size: 20px;
    padding: 0 0 40px 40px;
}
.banner-button{
    margin: 20px 20px 50px 40px;
}
.banner-image{
    width: 500px;
}
/* Match Section */
#matches{
    display: flex;
    margin: 80px 0 0 80px;
}
.match-category{
    background-color: rgb(20, 22, 29);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.matches-button{
    display: flex;
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: black;
    font-size: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.matches-button:hover{
    background-color: rgb(241, 41, 57);
    color: #F9F9F9;
}
.matches-button-select{
    display: flex;
    background-color: rgb(241, 41, 57);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: #F9F9F9;
    font-size: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.time-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match-time{
    height: 300px;
    width: 300px;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}
.flag{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
/* Footer */
footer
{
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background-color: rgb(20, 22, 29);
}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
hr{
    width: 900px;
}
ul {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    color: grey;
   }
   /* Media Quaries */
@media screen and (max-width:688px) {
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        width: 350px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-title{
        font-size: 40px;
        width: 300px;
    }
    .banner-description{
        font-size: 20px;
        width: 300px;
    }
    .banner-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .match-category{
        margin-left: 20px;
        background-color: #F9F9F9;
    }
    .matches-button{
        border: 2px solid black;
    }
    #matches{
        flex-direction: column;
    }
    .time-container{
        grid-template-columns: repeat(1,1fr);
    }
    footer{
        height: 300px;
    }
    hr{
        width: 300px;
    }
    ul{
        flex-direction: column;
        margin-left: -20px;
    }
}
@media screen and (min-width:689px) and (max-width:992px) {
    .home-container{
        width: 740px;
    }
    .banner-title{
        margin-left: 100px;
        width: 400px;
    }
    .banner-description{
        width: 400px;
        margin-left: 100px;
    }
    .banner-button{
        margin-left: 140px;
    }
    .banner-image{
        width: 300px;
    }
    #matches{
        flex-direction: column;
    }
    .match-category{
        background-color: #F9F9F9;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    }
    .matches-button{
        word-wrap:normal;
        width: 200px;
        border: 2px solid black;
    }
    .time-container{
        grid-template-columns: repeat(2,1fr);
    }
    hr{
        width: 700px;
    }
}